body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1461px;
  background:inherit;
  background-color:rgba(6, 214, 160, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u12 {
  position:absolute;
  left:0px;
  top:-127px;
  width:750px;
  height:1461px;
  font-size:18px;
}
#u13 {
  position:absolute;
  left:2px;
  top:722px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:106px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:106px;
  opacity:0.95;
}
#u15 {
  position:absolute;
  left:2px;
  top:45px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u16 {
  position:absolute;
  left:687px;
  top:47px;
  width:40px;
  height:40px;
}
#u17 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u18 {
  position:absolute;
  left:24px;
  top:43px;
  width:42px;
  height:42px;
}
#u19 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:713px;
  height:20px;
}
#u20 {
  position:absolute;
  left:19px;
  top:13px;
  width:713px;
  height:20px;
}
#u21 {
  position:absolute;
  left:2px;
  top:2px;
  width:709px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:41px;
  background:inherit;
  background-color:rgba(212, 242, 219, 1);
  border:none;
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23 {
  position:absolute;
  left:57px;
  top:212px;
  width:164px;
  height:41px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u24 {
  position:absolute;
  left:2px;
  top:10px;
  width:160px;
  word-wrap:break-word;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:89px;
}
#u25 {
  position:absolute;
  left:94px;
  top:131px;
  width:89px;
  height:89px;
}
#u26 {
  position:absolute;
  left:2px;
  top:36px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_div {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27 {
  position:absolute;
  left:0px;
  top:1265px;
  width:750px;
  height:69px;
  opacity:0.75;
}
#u28 {
  position:absolute;
  left:2px;
  top:26px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u30_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:41px;
  background:inherit;
  background-color:rgba(212, 242, 219, 1);
  border:none;
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u30 {
  position:absolute;
  left:57px;
  top:412px;
  width:164px;
  height:41px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u31 {
  position:absolute;
  left:2px;
  top:10px;
  width:160px;
  word-wrap:break-word;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:89px;
}
#u32 {
  position:absolute;
  left:95px;
  top:331px;
  width:89px;
  height:89px;
}
#u33 {
  position:absolute;
  left:2px;
  top:36px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:111px;
}
#u35 {
  position:absolute;
  left:231px;
  top:342px;
  width:457px;
  height:111px;
}
#u36 {
  position:absolute;
  left:2px;
  top:48px;
  width:453px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_div {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u37 {
  position:absolute;
  left:286px;
  top:361px;
  width:386px;
  height:59px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:41px;
  background:inherit;
  background-color:rgba(212, 242, 219, 1);
  border:none;
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u40 {
  position:absolute;
  left:57px;
  top:612px;
  width:164px;
  height:41px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u41 {
  position:absolute;
  left:2px;
  top:10px;
  width:160px;
  word-wrap:break-word;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:89px;
}
#u42 {
  position:absolute;
  left:95px;
  top:531px;
  width:89px;
  height:89px;
}
#u43 {
  position:absolute;
  left:2px;
  top:36px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:111px;
}
#u45 {
  position:absolute;
  left:231px;
  top:542px;
  width:457px;
  height:111px;
}
#u46 {
  position:absolute;
  left:2px;
  top:48px;
  width:453px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_div {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u47 {
  position:absolute;
  left:286px;
  top:561px;
  width:386px;
  height:59px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  word-wrap:break-word;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:102px;
}
#u49 {
  position:absolute;
  left:324px;
  top:1217px;
  width:102px;
  height:102px;
}
#u50 {
  position:absolute;
  left:2px;
  top:43px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u51 {
  position:absolute;
  left:344px;
  top:1236px;
  width:64px;
  height:64px;
}
#u52 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:111px;
}
#u54 {
  position:absolute;
  left:231px;
  top:142px;
  width:457px;
  height:111px;
}
#u55 {
  position:absolute;
  left:2px;
  top:48px;
  width:453px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56_div {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u56 {
  position:absolute;
  left:286px;
  top:161px;
  width:347px;
  height:27px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  word-wrap:break-word;
}
